.certificates{
    border: .5px solid rgb(236, 231, 231);
}

.certificates .container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    @media (max-width:992px){
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}

.certificates .logos {
    display: flex;
    list-style-type: none;
}

.certificates .logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.certificates .logo img {
    max-width: 80%; 
    height: auto;
}
