.aboutbg{
  background-image: url("./2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.info{
  width:50%;
  padding: 6rem;
  @media(max-width: 992px){
    width: 100%;
    background-color: #1a183e;
    padding: 2rem;
  }
  
}

.info h3{
  padding: .6rem 0;
  font-size: 3rem;
  font-weight: 100;
  font-family: Arial;
  color: #fff;
}

.aboutbg .info .head span{
  font-weight: 600;
}

.info p{
  color: #fff;
}

.company .breadcrumb {
  display: flex;
  background: rgba(238, 235, 235, 0.804);
  padding: 20px;
  padding-left: 80px;
}

.portintro .desc p{
  font-size: 1rem;
}


.company .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  color: rgb(135, 2, 2);
}

.company .breadcrumb a{
  color: rgb(33, 29, 29);
  text-decoration: none;
}

.company .breadcrumb .breadcrumb-item.active {
  color: rgba(161, 152, 152, 0.75);
}