.container h1{
    font-weight: 400;
}


.TabDesign{
    background: #fafafa;
    padding: 0px 150px;
    height: 460px;


    @media (max-width: 767px) {
        padding-left: 0;
        height: auto;
    }
    
}
.TabDesign .Item{
    padding: 16px 20px 16px 35px;
    font-weight: 700;
    box-shadow: unset;
    border-radius: 0;
    font-size: 40px;
}


#p_text{
    text-align: center;
    padding-bottom: 60px;  

    @media (max-width: 767px) {
        padding-bottom: 20px;  
    }
}
#head_div{
    margin-top: 30px;
    padding-top: 60px;
    border-top :0.5px solid rgb(208, 220, 220);
    border-bottom :0.5px solid rgb(208, 220, 220);
    margin-bottom: 30px;
    background: #fafafa;
    
    
    @media (max-width: 767px) {
        margin-top: 10px;
        padding-top: 20px;
        margin-bottom: 10px;
        padding: 12px;
    }
}