.happycontainer{
    padding: 30px 70px 30px 70px;
    display: flex;
    justify-content: space-around;
    @media (max-width:1024px){
        display: contents;
    }
}

.happycontainer img{
    width: 40vw;
    margin-right: 20px;
    @media (max-width:1024px){
        width: 100%;
        padding: 30px;
    }
}

.happycontainer h3{
    font-size: 50px;
    font-weight: 700;
}

.happycontainer .img-section .msg{
    position: relative;
    padding: 10px;
    max-width: 180px;
    bottom: 70px;
    left: 60%;
    background-color: white;
    border: 1px solid #dfe5f3;
    text-align: center;

    @media (max-width:1024px){
        max-width: 160px;
        bottom: 70px;
        left: 40%;
    }

}

.happycontainer .desc{
    margin-left: 50px;

    @media (max-width:1024px){
        margin: 0px 30px;
    }
}

.happycontainer p{
    font-size: 18px;
}

